packrat/
data/*
input_data/*
.Rproj
.Rproj.user
*.gz
*.zip
.Rhistory
*.csv
!drake_cache.csv
*.tsv
packrat/lib*/
*.RDS
*.xlsx
*.xls
*.pdf
results
*scratch*
*.html

dummy_report\.Rmd

input_data/data_annotations/\.~lock\.IgA_explanatory_overview\.xlsx#
